@using WebAuth.Domain.Models
@model List<WebAuth.Domain.Models.User>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (User user in Model)
{
    <p>@user.UserId</p>
    <p>@user.UserName</p>
    <p>@user.Password</p>
}


