
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="text"></div>  
    <button id="button">点击就送屠龙宝刀！！！</button>
    <script type="text/javascript">
        function hello() {
            document.getElementById("text").innerHTML = "hello world";
        }
    </script>
</body>

</html>
